.env
.phpstorm.meta.php
.phpunit.result.cache
/.idea
/.vagrant
/.vscode
/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
npm-debug.log
yarn-error.log
